#github account
GITHUB_USER=your-username
GITHUB_EMAIL=your-email
GITHUB_TOKEN=your-token
#specify a theme, can be next, yun, or repo url
#git clone https://github.com/next-theme/hexo-theme-next themes/next
#git clone -b master https://github.com/YunYouJun/hexo-theme-yun themes/yun
HEXO_THEME_NAME=next
HEXO_THEME_REPO=https://github.com/next-theme/hexo-theme-next 
